<h1>Static Home Page</h1>

<p>
	Created using `controller` generator with name as <b>Static</b> and home. Navigate to <b>'static/home'</b> in url to
	load this view. Action method <code>home</code> in static_controller gets data from the <code>TippyGem</code> and instace 
	variable <code>@tippy</code> is displayed in the view.
</p> 

<p> Fetching values from Gem  : <b>$<%= @tip %></b></p>
